
.btn {
  height: 52px; 
  padding: 0 32px; 
  border-radius: 12px; 
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
}

.btn:active {
  transform: scale(0.96); 
}


.btn.primary {
  background: linear-gradient(90deg, #7b2cff, #c000ff);
  color: white;
  box-shadow: 0 4px 15px rgba(123, 44, 255, 0.4); 
}

.btn.primary:hover {
  opacity: 0.9;
}

/* ===== VARIANTE 2 - transparente ===== */
.btn.outline {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3); 
  color: white;
}

.btn.outline:hover {
  background: rgba(255, 255, 255, 0.1); 
  border-color: white;
}