.card-filme {
  width: 180px;
  min-width: 180px;
  height: 260px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform .2s ease;
}

.card-filme img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-filme:hover {
  transform: scale(1.08);
}

.card-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px 6px;
  font-size: 14px;
  font-weight: 600;
  color: white;

  background: linear-gradient(transparent, rgba(0,0,0,0.8));
}
