.card-filme {
  width: 200px;
  min-width: 200px;
  height: 340px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: #5636743a; 
  border: 2px solid rgba(255, 255, 255, 0.1);

}

.card-filme:hover {
  transform: scale(1.05); 
}

/* --- Imagem --- */
.card-image-wrapper {
  width: 80%;
  height: 220px; 
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: px solid rgba(255, 255, 255, 0.1);
}

.card-filme img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s;
}

.card-filme:hover img {
  opacity: 0.9;
}

/* --- Conteúdo (Título e Botão) --- */
.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1; 

}

.card-title {
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.btn-card-detalhes {
  width: 100%;
  padding: 10px 0;
  border-radius: 8px;
  border: none;
  background: linear-gradient(90deg, #9F55FF 0%, #7B2CFF 100%);
  
  color: white;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  transition: filter 0.2s, transform 0.2s;
  box-shadow: 0 4px 15px rgba(123, 44, 255, 0.3); 
}

.btn-card-detalhes:hover {
  filter: brightness(1.1); 
  transform: translateY(-2px);
}