.footer {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #ffffffbb;

  background: rgba(45, 3, 83, 0.35);
  backdrop-filter: blur(10px);

  bottom: 0;
  left: 0;
}
