
/* CAMPO */
.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 15px; 
}

.input-group label {
  color: #e0e0e0;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  margin-left: 4px;
}

.input-group input,
.input-group textarea { /* Adicionei textarea para funcionar na Sinopse */
  width: 100%; 
  height: 52px;
  padding: 0 18px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: transparent; 
  
  color: white;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  transition: all 0.3s ease;
}

/* Ajuste específico para Textarea (Sinopse) */
.input-group textarea {
  height: 120px;
  padding-top: 14px;
  resize: none;
}

.input-group input::placeholder,
.input-group textarea::placeholder {
  color: rgba(255, 255, 255, 0.35);
}

/* Foco (Opcional, mas recomendado para usabilidade) */
.input-group input:focus,
.input-group textarea:focus {
  outline: none;
  border-color: #c084fc; /* Roxo do link */
}