.historico-table {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0px; 
  font-family: "Inter", sans-serif;
  color: white;
}


.historico-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 12px 5px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffffd5;

  border-bottom: 1px solid rgba(255,255,255,0.25);
}


/* ===== LINHAS ===== */
.historico-body {
  display: flex;
  flex-direction: column;
}

/* Linha individual */
.historico-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  padding: 14px 5px;
  font-size: 15px;
  color: #ffffffcc;

  border-bottom: 1px solid rgba(255,255,255,0.12);
}


/* ===== ALINHAMENTOS ===== */

/* Coluna 1 (Data) */
.historico-header span:nth-child(1),
.historico-row span:nth-child(1) {
  text-align: left;
}

/* Coluna 2 (Hora) */
.historico-header span:nth-child(2),
.historico-row span:nth-child(2) {
  text-align: center;
}

/* Coluna 3 (Usuário) */
.historico-header span:nth-child(3),
.historico-row span:nth-child(3) {
  text-align: right;
}
