/*  RESET */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* CONTAINER */
.cadastro-container {
  width: 100vw;
  height: 100vh;
  background-image: var(--bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

/* CARD  */
.cadastro-card {
  width: 100%;
  max-width: 500px; 
  background: rgba(32, 32, 39, 0.75); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1); 
  border-radius: 15px; 
  padding: 45px 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.6); 
}

.cadastro-form {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.cadastro-link {
  text-align: center;
  font-size: 14px;
  color: #aaaaaa;
  margin-top: 10px;
}

.cadastro-link a {
  color: #c084fc;
  text-decoration: none;
  font-weight: 600;
  margin-left: 5px;
  transition: 0.2s;
}

.cadastro-link a:hover {
  color: #d8b4fe;
  text-decoration: underline;
}