
.home-container {
  width: 100vw;
  min-height: 100vh;
  color: white;
  font-family: "Inter", sans-serif;

  display: flex;
  flex-direction: column;
}

.hero-banner {
  width: 100%;
  height: 520px;

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;

  padding-left: 80px;
  padding-top: 40px;
}


.hero-info {
  max-width: 450px;
}

.hero-title {
  font-size: 62px;
  font-weight: 800;
  letter-spacing: -2px;
  margin-bottom: -10px;
}

.hero-subtitle {
  font-size: 28px;
  font-weight: 500;

  background: linear-gradient(90deg, #c38bff, #b05aff);
  -webkit-background-clip: text;
  color: transparent;
}

.hero-description {
  margin: 20px 0;
  color: #dddddd;
  font-size: 15px;
}

.hero-buttons {
  display: flex;
  gap: 18px;
}

.btn-hero-detalhes,
.btn-hero-lista {
  padding: 12px 24px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  font-size: 15px;
}

.btn-hero-detalhes {
  background: white;
  color: #121212;
}

.btn-hero-lista {
  background: rgba(255,255,255,0.10);
  border: 1px solid rgba(255,255,255,0.25);
  color: white;
}

.btn-hero-lista:hover {
  background: rgba(255,255,255,0.20);
}


.home-content {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 40px 60px 120px 60px;

  display: flex;
  flex-direction: column;
  gap: 60px;
}


.secao-filmes {
  position: relative;
}

.secao-filmes h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}


.btn-left,
.btn-right {
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  font-size: 22px;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(6px);
  z-index: 10;
  transition: 0.2s;
}

.btn-left:hover,
.btn-right:hover {
  background: rgba(255, 255, 255, 0.35);
}

.btn-left {
  left: -18px;
}

.btn-right {
  right: -18px;
}


.lista-filmes {
  display: flex;
  gap: 22px;

  overflow-x: auto;
  scroll-behavior: smooth;

  padding-bottom: 10px;

  /* esconde scrollbar */
  scrollbar-width: none;
}

.lista-filmes::-webkit-scrollbar {
  display: none;
}
