.requisicoes-container {
    width: 100%;
    min-height: calc(100vh - 70px);

    display: flex;
    justify-content: center;
    padding-top: 40px;

    background: linear-gradient(135deg, #0d0220, #140029);
}

.requisicoes-box {
    width: 90%;
    max-width: 1100px;

    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    padding: 40px;

    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.titulo {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    color: white;
    margin-bottom: 25px;
}

.titulo span {
    color: #bb58ff;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    font-family: "Inter", sans-serif;
    color: white;
}

.tabela thead th {
    padding: 14px 10px;
    opacity: .85;
}

.tabela tbody tr {
    background: rgba(255, 255, 255, 0.03);
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

.tabela tbody td {
    padding: 16px 10px;
}

/* STATUS */
.status-pendente {
    background: #bb28ff;
    padding: 6px 14px;
    border-radius: 20px;
}

.status-recusado {
    background: #5f0038;
    padding: 6px 14px;
    border-radius: 20px;
}

.status-aprovado {
    background: #00b36b;
    padding: 6px 14px;
    border-radius: 20px;
}

/* AÇÕES */
.acoes button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-aceitar {
    background: #bb28ff;
    color: white;
}

.btn-recusar {
    background: #4a0030;
    color: white;
    margin-left: 8px;
}

/* BOTÕES FINAIS */
.botoes-final {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grupo-right {
    display: flex;
    gap: 15px;
}
